<section id="contact" class="section slide-cta section-fh {% if paragraph.field_text_position.0.value == 'bottom-left' %} bottom-left {% endif %}">
    <div class="cta-background">
        {{ content.field_image }}
    </div>
    
    <div class="px-4 slide-cta-content">
        <h1 class="{% if not paragraph.field_text_position.0.value == 'bottom-left' %} col-12 col-lg-9 {% endif %} mx-auto animate__animated animate__fadeInUp animate__slow display-5 fw-bold">
            {{ content.field_heading }}
        </h1>

        <div class="{% if not paragraph.field_text_position.0.value == 'bottom-left' %} col-10 col-lg-6 {% endif %} mx-auto">
            <p class="animate__animated animate__fadeInLeft aniamte_slow mb-4">{{ content.field_text.0['#text'] }}</p>

            {% if content.field_link|render %}
                <div class="animate__animated animate__fadeInUp animate__slow mt-5 d-grid gap-2 d-sm-flex justify-content-sm-center">
                    {#<a role="button" data-anchor="#contact" class="cta">{{ content.field_link[0]['#title']}}</a>
                    <a role="button" class="cta-orange" data-anchor="#services">{{ content.field_link[1]['#title']}}</a>#}
                    
                    {% if content.field_link[0]['#title']|render %}
                        <a role="button" href="{{ content.field_link[0]['#url']|render }}" class="cta">{{ content.field_link[0]['#title'] }}</a>
                    {% endif %}

                    {% if content.field_link[1]['#title']|render %}
                        <a role="button" href="{{ content.field_link[1]['#url']|render }}" class="cta-orange">{{ content.field_link[1]['#title'] }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
</section>


  